.icon-order {
  background: url('/icons/order-now.svg') no-repeat center center;
  width: 300px;
  height: 8px;
  display: inline;
}

.icon-cart-active {
  background: url('/icons/icons_cart.svg') no-repeat center center;
  width: 30px;
  height: 30px;
  display: flex;
}

.icon-cart-card {
  background: url('/icons/cart-card.svg') no-repeat center center;
  width: 20px;
  height: 21px;
  display: flex;
}

.icon-star-card {
  background: url('/icons/star.svg') no-repeat center center;
  width: 20px;
  height: 20px;
  display: flex;
}

.chevron-left {
  background: url('/dku-asset/icon/chevron-left.png') no-repeat center center;
  width: 270px;
  height: 270px;
  display: flex;
}
.chevron-right {
  background: url('/dku-asset/icon/chevron-right.png') no-repeat center center;
  width: 270px;
  height: 270px;
  display: flex;
}
